<tr>
    <td><%= waterpark.dataset %></td>
    <td><%= waterpark.place %></td>
    <td><%= waterpark.observed %></td>
    <td><%= waterpark.weather %></td>
    <td><%= waterpark.e_coli %></td>
    <td><%= waterpark.coliform_bacteria %></td>
    <td><%= waterpark.cod %></td>
    <td><%= waterpark.water_temperature %></td>
    <td><%= waterpark.total_residual_cl %></td>
    <td><%= waterpark.nh3_n %></td>
    <td><%= waterpark.ph %></td>
    <td><%= waterpark.latitude %></td>
    <td><%= waterpark.longitude %></td>
    <td><%= waterpark.electric_conductivity %></td>
    <td><%= waterpark.color %></td>
    <td><%= waterpark.ecoli_color %></td>
    <td><%= waterpark.aquatic_organism %></td>
    <td><%= time_ago_in_words(waterpark.created_at) %></td>
</tr>