<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "水辺空間水質調査マップ", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <!--<li><%= link_to "Home", root_path %></li>-->
          <% if signed_in? %>
            <li>
              <h4 id="text">現在表示しているグラフ</h4>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 表示項目選択 <b class="caret"></b></a>
              <!--a要素の中にidを設定-->
              <ul class="dropdown-menu">
                <li><a href="#" id="d1">大腸菌</a></li>
                <li><a href="#" id="d2">大腸菌群</a></li>
                <li><a href="#" id="d3">COD</a></li>
                <li><a href="#" id="d4">水温</a></li>
                <li><a href="#" id="d5">総残留塩素</a></li>
                <li><a href="#" id="d6">アンモニウム態窒素</a></li>
                <li><a href="#" id="d7">pH</a></li>
                <li class="divider"></li>
                <li><%= link_to "ユーザー設定", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <li><%= link_to "Sign up", signup_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>