<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<style>
		#map {
			width: 100%;
			height: 100%;
		}
	</style>
</head>
<body>
  <div id="map"></div>
    <%= render 'layouts/header' %>
    
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    
    

  <script>
    var latlng = new google.maps.LatLng(35.66, 139.69);
    var options = {
        zoom: 15,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById('map'), options);

  </script>
</body>
</html>